body{
  margin:0;
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
  color:darkblue;
}

.container {
  margin:0;
  display: flex;
  flex-direction:column;
  height:100vh;
  justify-content:space-between;
  align-items: center;
}
.navbar {
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:8px 12px;
  background-color: gray;
}
.navbar__logo {
  font-size: 36px;
}

.navbar__logo i {
  color:black;
  padding: 8px;
}


.navbar__menu {
  display:flex;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:first-child a {
  border-bottom:5px solid blue;
}

.navbar__menu li:hover {
  background-color: orange;
  border-radius:4px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:12px;
    margin:0;
  }
  .navbar__menu li {
    width:100%;
    text-align: center;
  }

}

.body__menu {
  font-size: 70px;
}

.body__menu2 {
  font-size: 30px;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-image:url(background.jpg);
  background-size:cover;



}

.body__menu3 a {
  border:5px solid white;
  margin:60px;
  padding:8px;
  font-size: 60px;
}
.body__menu3 a:hover {
  background-color: orange;
  border-radius:4px;
}

footer {
  display:flex;
  width:100%;
}
.footer__menu {
  list-style: none;
  font-size: 18px;
  width:100%;
  margin:0;
  padding:18px;
  background-color:gray;
  text-align: center;
}
